<div class="table">
	<h1>
		<p>
			You rolled <%= @number %>, <%= @sides %> sided dice. Here are your results...
		</p>
	</h1>

	<div class="results">
		<ul>
			<% @result.each do |result| %>
				<li class='<%= "crit" if result==@sides %>'>
					<%= result %>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="form2">
		<%= form_tag(rolls_path) do %>
			<%= render 'rolls/rolls' %>

			<%= submit_tag "Roll again" %>
		<% end %>
	</div>
</div>
