<div class="table">
	<h1>
		<p>
			You rolled <%= @number %>, <%= @sides %> sided dice. Here are your results...
		</p>
	</h1>

	<div class="results">
		<ul>
			<% @result.each do |result| %>
				<li class='<%= "crit" if result==@sides %>'>
					<%= result %>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="form2">
		<%= form_tag(rolls_path) do %>
			<%= label_tag :sides %>
			<%= number_field_tag :sides, @sides, min: 4, max: 50 %>

			<%= label_tag :number %>
			<%= number_field_tag :number, @number, min: 1, max: 20 %>

			<%= submit_tag "Roll again" %>
		<% end %>
	</div>
</div>
